.partener-container {
    position: relative;
    text-align: center;

}
.partener-container img {
    width: 100%;
  max-width: 100%px;
  height: auto;
  max-height: 700px;
}


.partener-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.partener-text h1{
    color: white;
}

.partener-text p {
    color: white;
}
.partener-button {
    margin-top: 2rem;

}


.partner-button {
    height: 3rem;
    width: 18rem;
    transition-duration: 0.4s;
    background-color: #242424;
    color: white;
    border: white 1px solid;
  }
  
  .partner-button:hover {
    background-color: white; /* Green */
    color: black;
  }
    




/*===========================Media Queries ================================*/
@media (max-width: 480px) {
    .partner-button {
        height: 3.5rem;
        width: 18rem;
        
      }
      .partener-text p{
          font-size: 1rem;
      }
      .partener-text h1 {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
      }

      .partener-container img {
        width: auto;
      max-width: 100%;
      height: 30rem;
      max-height: 700px;
    }
    
}