.Restaurants {
    margin: 5%;
}

.restaurants_grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}



@media (max-width: 480px) {
    .Restaurants {
        margin: 5%;
    }
}
